backports-abc==0.5
brewer2mpl==1.4.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.1
discoursegraphs==0.4.5
Flask==1.1.1
future==0.18.2
futures==3.3.0
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
networkx==2.2
nltk==3.4.5
pycurl==7.43.0.5
pydot2==1.0.33
pydotplus==2.0.2
pygraphviz==1.5
pyparsing==2.4.6
python-dotenv==0.11.0
rdflib==4.2.2
requests==2.22.0
rstmarcutree==1.0.7
singledispatch==3.4.0.3
six==1.14.0
tornado==5.1
typing==3.7.4.1
Unidecode==1.1.1
urllib3==1.25.8
Werkzeug==1.0.0
